* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: source-sans-pro, sans-serif;
  color: white;
}

/** Header **/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  z-index: 1;
}

header div logo {
  display: inline-block;
  position: absolute;
  height: 29.46px;
}

header div .link a {
  text-decoration: none;
  position: absolute;
  padding: 53px;
  margin-top: 35.02;
  width: 1041px;
  height: 37px;
  gap: 20px;
  font-size: 12px;
  font-weight: bold;
}

.Banner {
  background: url('./image/background.png'), rgba(151, 151, 151, 1);
  background-size: cover;
  align-items: center;
  position: center;
  margin: 0;
  width: 1440px;
  height: 1093px;
}

.Banner .Banner_p1 h1{
  text-align: centre;
  font-size: 120px;
  font-weight: bold;
  width: 864px;
  margin-left: 220px;
}

.Banner .Banner_p1 .Banner_text {
  align-items: 1;
  margin-bottom: ;
}